@font-face {
    font-family: "dorf";
    src: url("https://raw.githubusercontent.com/charles-masse/itch.io_css/main/assets/PxPlus_IBM_VGA_9x16.ttf") format("truetype");
}
/* itch */
.text_header, .link_group:first-child {
    font-size: 0;
    visibility: hidden;
    margin: 0;
    width: 0;
}

/* Bio */
.user_profile {
    font-size: 2em !important;
    font-family: 'dorf', monospace;
}

.custom-blink {
    animation: blink-sharp 1s steps(1, start) infinite;
    display: flex;
}

@keyframes blink-sharp {
  50% {
    opacity: 0;
  }
}

.user_profile p {
    margin: 0;
    line-height: 1;
}

/* Game-specific states */
.user_page:has(
    [data-game_id="3693387"]:hover,
    [data-game_id="3075327"]:hover,
    [data-game_id="3689531"]:hover
) .custom-blink {
    animation: none !important;
}

.custom-dorf,
.custom-grid0,
.custom-grid1,
.custom-grid2,
.custom-grid3,
.custom-grid4,
.custom-grid5,
.custom-grid6,
.custom-grid7 {
    position: relative;
}

.custom-dorf::after,
.custom-grid0::after,
.custom-grid1::after,
.custom-grid2::after,
.custom-grid3::after,
.custom-grid4::after,
.custom-grid5::after,
.custom-grid6::after,
.custom-grid7::after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* Moon */
[data-label="game:3693387:title"] {
    color: #ffff00 !important;
}

.user_page:has([data-game_id="3693387"]:hover) .custom-blink::before {
    content: "run vingt-mille-oeufs-sous-la-lune.jdr";
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.user_page:has([data-game_id="3693387"]:hover)
:is(.custom-grid0, .custom-grid1, .custom-grid2) {
    visibility: hidden;
}

.user_page:has([data-game_id="3693387"]:hover)
:is(.custom-grid0, .custom-grid1, .custom-grid2)::after {
    content: "f";
}

.user_page:has([data-game_id="3693387"]:hover)
:is(.custom-grid5, .custom-grid6, .custom-grid7) {
    visibility: hidden;
}

.user_page:has([data-game_id="3693387"]:hover)
:is(.custom-grid5, .custom-grid6, .custom-grid7)::after {
    content: "c";
}
/* Eye */
[data-label="game:3075327:title"],
.user_page:has([data-game_id="3075327"]:hover) .user_profile {
    color: #e4e2dd !important;
    text-shadow: 2.5px 0.5px 0px #0041cf, -2.5px -0.5px 0px #ab0000;
}

.user_page:has([data-game_id="3075327"]:hover) .custom-blink::before {
    content: "run najustez-pas-votre-vision.jdr";
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.user_page:has([data-game_id="3075327"]:hover)
:is(.custom-grid3, .custom-grid4) {
    visibility: hidden;
}

.user_page:has([data-game_id="3075327"]:hover)
:is(.custom-grid3, .custom-grid4)::after {
    content: "≈";
}

.user_page:has([data-game_id="3075327"]:hover) .custom-grid5 {
    visibility: hidden;
}

.user_page:has([data-game_id="3075327"]:hover) .custom-grid5::after {
    content: '"';
}

.user_page:has([data-game_id="3075327"]:hover) .custom-grid2 {
    visibility: hidden;
}

.user_page:has([data-game_id="3075327"]:hover) .custom-grid2::after {
    content: "•";
}

/* Blood */
[data-label="game:3689531:title"] {
    color: red !important;
    text-shadow: 0px 3.5px 3px darkred;
}

.user_page:has([data-game_id="3689531"]:hover) .custom-blink::before {
    content: "run jusqua-la-derniere-goutte.jdr";
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.user_page:has([data-game_id="3689531"]:hover)
:is(.custom-dorf) {
    visibility: hidden;
}

.user_page:has([data-game_id="3689531"]:hover)
:is(.custom-dorf)::after {
    content: "·";
    background-color: #800000;
}

.user_page:has([data-game_id="3689531"]:hover)
:is(.custom-grid0, .custom-grid4, .custom-grid6) {
    background-color: #800000;
}

/* Flags */
a[href="https://itch.io/c/6222825/franais"]::before {
    content: url("https://flagcdn.com/24x18/fr.png");
    margin-right: 6px;
}

/* Awards */
[data-game_id="3689531"],
[data-game_id="3693387"] {
        position: relative !important;
}

[data-game_id="3689531"]::before,
[data-game_id="3693387"]::before {
        content: "🥇";
        font-size: 40px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 69;
        pointer-events: none;
}

[data-game_id="3689531"]:hover::after,
[data-game_id="3693387"]:hover::after {
    color: #000;
    font-weight: bold;
    position: absolute;
    display: flex;
    height: 53px;
    top: 0px;
    left: 50px;
    align-items: center;
    z-index: 69;
    text-shadow:
        -1px -1px 0 #fff,  
        1px -1px 0 #fff,
        -1px  1px 0 #fff,
        1px  1px 0 #fff;
    pointer-events: none;
}

[data-game_id="3689531"]:hover::after {
    content: "FabuJam 2025";
}

[data-game_id="3693387"]:hover::after {
    content: "Donjons Critiques 2022";
}